@charset "utf-8";

/* μλ¬Έν°νΈ */
@font-face {
    font-family: SFProDisplay;
    font-weight: 100;
    src: url(../font/SFProDisplay-Light.ttf) format(ttf);
}
@font-face {
    font-family: SFProDisplay;
    font-weight: 300;
    src: url(../font/SFProDisplay-Regular.ttf) format(ttf);
}
@font-face {
    font-family: SFProDisplay;
    font-weight: 400;
    src: url(../font/SFProDisplay-SemiBold.ttf) format(ttf);
}
@font-face {
    font-family: SFProDisplay;
    font-weight: 500;
    src: url(../font/SFProDisplay-Bold.ttf) format(ttf);
}
@font-face {
    font-family: SFProDisplay;
    font-weight: 700;
    src: url(../font/SFProDisplay-Black.ttf) format(ttf);
}
